.product {
  margin-top: 40px;
  background-color: rgb(239, 239, 239);
  padding: 100px;
  text-align: center;
}

.product-title {
  font-size: 30px;
  color: #000000;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 600;
}

.product-items {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;

}

.product-item {
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
  transition: all 0.3s ease;
  background-color: white;
  border-radius: 20px;
}

.product-item__name {
  font-size: 20px;
  font-weight: 700;
}

.product-item__img {
  margin-bottom: 20px;
}

@media screen and (max-width: 1192px) {
  .product-items {
    flex-wrap: wrap;
  }
  .product-item {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .product-item__images {
    width: 50%;
  }
}
